@import "tailwindcss";

:root {
    --color-bg: #f8fafc;
    --color-surface: #ffffff;
    --color-border: #e2e8f0;
    --color-primary: #a5d8ff;
    --color-primary-hover: #8ccff9;
    --color-error: #fca5a5;
    --color-success: #86efac;
    --color-foreground: #1e293b;
    --color-muted: #94a3b8;
}

body {
    background-color: var(--color-bg);
    color: var(--color-foreground);
    font-family: 'Inter', sans-serif;
}

input::placeholder{
    color: #cbd5e1;
}