@import "tailwindcss";

:root {
    --background: #0d0d10;
    --surface: #1a1a22;
    --primary: #ff6fae;
    --primary-hover: #ff8cbf;
    --error: #ff3b5c;
    --foreground: #f9f9fb;
    --muted: #a1a1aa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'Inter', sans-serif;
}
